.section {
    padding: 6rem 15rem;
    display: flex;
    flex-direction: column;
    gap: 2.66rem;
    * {
        font-weight: 400;
    }
}
.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.plans { /*container*/
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

