section.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 7rem 15rem;
  gap: 4rem;
  > section {
  display: flex;
  justify-content: center;
  border: var(--border);
    > section {
  display: flex;
  justify-content: center;
  border: var(--border);
    }
  > * {
    flex-grow: 1;
      border: var(--border);
      padding: 0rem 3rem;
  }
  }
}