:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #1B1B1D 0%, #070708 100%);
    --foreground: #E6E6F0;
    --blackText: #09090A;
    --navlinkText: #CBD5E1;
    --border: 1px solid rgba(255, 255, 255, 0.06);
  }
}

html,
body {
  font-size: 16px; /* default font size */
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}
h2 { 
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 111.111% 

}
h3 { 
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.16813rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
}
h5 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.0625rem;
}
h6 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 139%;
}
small {
  font-size: 0.75rem;
}

.border {
  border: var(--border);
}

a {
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  text-align: center !important;
  font-family: Inter;

}

.col {
  display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 479px) {
  /* mobile devices */
}


@media (min-width: 480px) and (max-width: 767px) {
  /* tablet devices */
}
